@font-face{
    font-family: 'SansBold';
    src: url('../fonts/sansserif/_sansserifbldflf-webfont.woff') format('woff');
    src: url('../fonts/sansserif/_sansserifbldflf-webfont.woff2') format('woff2');
}
@font-face{
    font-family: 'SansBook';
    src: url('../fonts/sansserif/_sansserifbookflf-webfont.woff') format('woff');
    src: url('../fonts/sansserif/_sansserifbookflf-webfont.woff2') format('woff2');
}
@font-face{
    font-family: 'SansDemiBold';
    src: url('../fonts/sansserif/_sansserifflf-demibold-webfont.woff') format('woff');
    src: url('../fonts/sansserif/_sansserifflf-demibold-webfont.woff2') format('woff2');
}

*{
    font-size: 100%;
}

Div.Victoria img{
    display: block;
    Margin: 1rem auto 1rem;

}

Div.Nav {
    border: grey;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    font-family: SansDemiBold;
    font-size: 1.25rem;
    margin: .8rem .25rem 1rem;
    padding: .25rem 0rem .25rem 0rem;
    text-align: center;
}
a.Nav1{
    text-align: left;
}
a.Nav2{
    margin: 4rem 3rem;
}   
a.Nav3{
    margin: 4rem 4.75rem 4rem 4rem;
}
a:link{
    text-decoration: none;
}
.pics{
    float: center;
    padding: 1rem .25rem .5rem;
}