@font-face{
    font-family: 'SansBold';
    src: url('../../Fonts/SansSerif/_sansserifbldflf-webfont.woff') format('woff');
    src: url('../../Fonts/SansSerif/_sansserifbldflf-webfont.woff2') format('woff2');
}
@font-face{
    font-family: 'SansBook';
    src: url('../../Fonts/SansSerif/_sansserifbookflf-webfont.woff') format('woff');
    src: url('../../Fonts/SansSerif/_sansserifbookflf-webfont.woff2') format('woff2');
}
@font-face{
    font-family: 'SansDemiBold';
    src: url('../../Fonts/SansSerif/_sansserifflf-demibold-webfont.woff') format('woff');
    src: url('../../Fonts/SansSerif/_sansserifflf-demibold-webfont.woff2') format('woff2');
}

*{
    font-size: 100%;
}

body{
    margin: 0;
}

div.head{
    color: #b378b4;
    font-family: 'SansDemiBold','Times New Roman', Times, serif;
    font-size: 1.75rem;
    margin: .25rem .25rem .5rem;
}

div.body{
    font-family: 'SansBook', 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    line-height: 1.75rem;
    margin: 0rem 1rem;
}

div.body_{
    font-family: 'SansBook', 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    line-height: 1.75rem;
    margin: 2.25rem 1rem 0rem;
}

.img2{
    margin: 0rem .75rem;
}

.img3{
    margin: 0rem .75rem;
}

.img4{
    float: right;
    margin: 0rem .5rem .5rem .5rem;
}

.img5{
    float: left;
    margin: .5rem .75rem 0rem .5rem;
}